/******轮播图banner********/
#wrapper-banner{position:relative;width:100%;overflow:hidden;height:422px;}
#wrapper-banner .list1{position:absolute;height: 422px;left:0;}
#wrapper-banner .list1 li{float:left;overflow:hidden;}
#wrapper-banner .list1  li a{display:block;width:100%;height:422px;}
#wrapper-banner .list1  li a img{height:422px;display:block;float:left;}
#wrapper-banner .list2{position:absolute;bottom:10px;margin-left:45%;overflow:hidden;}
#wrapper-banner  .list2 li{float:left;width:16px;height:16px;background:#eaeaea;border-radius:50%;margin-left:10px;}
#wrapper-banner   .list2 li a{display:block;}
#wrapper-banner   .list2 li:hover {background:#f2972c;}
#wrapper-banner   .list2 .active{background:#f2972c;}
#wrapper-banner  span{width:40px;height:80px;display:block;position: absolute;display:none;}
#wrapper-banner #next{background:url(../images/banner-next.png) no-repeat;right:5%;top:45%;}
#wrapper-banner #prev{background: url(../images/banner-prev.png) no-repeat;left:5%;top:45%;}

/********轮播图结束**********/
#wrapper-content {width:1200px; overflow:hidden;margin:0 auto;margin-top:20px;}
#wrapper-content a{display:block;float:left;transform:scaleX(1);}
#wrapper-content a:hover  #wrapper-content a img{transform: scaleY(2);}
#wrapper-content  a img{display:block;}
#wrapper-brand {width:1200px;margin:0 auto;overflow:hidden;margin-top:10px;}
#wrapper-brand ul{width:1200px;overflow:hidden;}
#wrapper-brand ul li{width:100px;height:80px;float:left;}
/**秒杀专区**/
#wrrapper-seckill {width:1200px;margin:auto;overflow: hidden;margin-top:30px;}
#wrrapper-seckill ul{overflow: hidden;padding-top:10px;background:#fff;}
#wrrapper-seckill>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-seckill ul li{padding:11px;width:200px;float:left;margin-left:10px;border:1px solid #cacaca;}
#wrrapper-seckill ul li>img{width:200px;height:200px;}
#wrrapper-seckill ul li>h2{font-size:19px;color:#d73a3c;font-weight:bold;}
#wrrapper-seckill ul li .a3{display:block;width:200px;height:38px;background:red;color:#fff;line-height:38px;text-align:center;border-radius:10px;cursor:pointer;}
#wrrapper-seckill ul li .a33{background:#ACACAC;}
#wrrapper-seckill ul li>span{font-size:12px;color: #999;text-align: right;line-height:20px;text-decoration: line-through;margin-bottom:5px;text-align:right;width:200px;display:block;}
#wrrapper-seckill ul li .a2{display:block;width:200px;height:22px;margin-top:23px;margin-bottom:16px;color:red;font-weight:bold;}
#wrrapper-seckill ul li .a2 span:nth-of-type(1){font-weight:normal;}
#wrrapper-seckill ul li:hover{border:1px solid red;}
#wrrapper-seckill .banner a{display:block;width:1200px;height:250px;background:url(../images/commodity/banner01.jpg) no-repeat;margin-top:80px;}

/***热门分类**/
#wrrapper-categories {width:1200px;margin:auto;overflow: hidden;margin-top:30px;}
#wrrapper-categories ul{overflow: hidden;padding-top:10px;background:#fff;}
#wrrapper-categories ul li{width:295px;height:500px;}
#wrrapper-categories>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-categories ul li{float:left;}
#wrrapper-categories ul li a{display: block;width:290px;height:500px;overflow: hidden;border:1px solid #fff;}
#wrrapper-categories ul li a img{float: left;}
#wrrapper-categories ul li .a1{float:left;width:290;height:250px;}
#wrrapper-categories ul li .a2{float:left;width:290;height:250px;}
/******运动专区*********/
#wrrapper-sport {width:1200px;margin:auto;overflow: hidden;margin-top:30px;background:#FFFFFF ;}
#wrrapper-sport .banner{display:block;width:1200px;height:250px;background:url(../images/sport.jpg) no-repeat;margin-top:20px;}
#wrrapper-sport ul{overflow: hidden;padding-top:10px;background:#fff;width:920px;float: left;}
#wrrapper-sport ul li{width:230px;height:275px;}
#wrrapper-sport>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-sport ul li{float:left;}
#wrrapper-sport ul li a{display: block;width:290px;height:500px;overflow: hidden;border:1px solid #fff;}
#wrrapper-sport ul li a img{float: left;transition: all linear 0.5s;}
#wrrapper-sport ul li a img:hover {box-shadow:0px 0px 10px #acacac;transform: scale(1.1);}
#wrrapper-sport .sport{display:block;float:right;width:241px;height:512px;background:url(../images/sport/09.jpg) no-repeat ;}
/********男士专区**********/
#wrrapper-men {width:1200px;margin:auto;overflow: hidden;margin-top:30px;background:#FFFFFF ;}
#wrrapper-men .banner{display:block;width:1200px;height:250px;background:url(../images/men/banner.jpg) no-repeat;margin-top:20px;}
#wrrapper-men ul{overflow: hidden;padding-top:10px;background:#fff;width:920px;float:right;}
#wrrapper-men ul li{width:230px;height:275px;}
#wrrapper-men>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-men ul li{float:left;}
#wrrapper-men ul li a{display: block;width:290px;height:500px;overflow: hidden;border:1px solid #fff;}
#wrrapper-men ul li a img{float: left;transition: all linear 0.5s;}
#wrrapper-men ul li a img:hover {box-shadow:0px 0px 10px #acacac;transform: scale(1.1);}
#wrrapper-men .men{display:block;float:right;width:241px;height:512px;background:url(../images/men/009.jpg) no-repeat ;}

/**********女士专区***********/
#wrrapper-women {width:1200px;margin:auto;overflow: hidden;margin-top:30px;background:#FFFFFF ;}
#wrrapper-women .banner{display:block;width:1200px;height:250px;background:url(../images/sport.jpg) no-repeat;margin-top:20px;}
#wrrapper-women ul{overflow: hidden;padding-top:10px;background:#fff;width:920px;float: left;}
#wrrapper-women ul li{width:230px;height:275px;}
#wrrapper-women>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-women ul li{float:left;}
#wrrapper-women ul li a{display: block;width:290px;height:500px;overflow: hidden;border:1px solid #fff;}
#wrrapper-women ul li a img{float: left;transition: all linear 0.5s;}
#wrrapper-women ul li a img:hover {box-shadow:0px 0px 10px #acacac;transform: scale(1.1);}
#wrrapper-women  .women{display:block;float:right;width:241px;height:512px;background:url(../images/women/009.jpg) no-repeat ;margin-top:50px;}


/**********乐淘精品***********/
#wrrapper-boutique {width:1200px;margin:auto;overflow: hidden;margin-top:30px;background:#f8f8f8;}
#wrrapper-boutique>p{width:1200px;font-size:18px;border-bottom:2px solid #333333;font-weight:bold;}
#wrrapper-boutique ul{margin-top:10px;}
#wrrapper-boutique ul li{float:left;}
#wrrapper-boutique ul li a{display: block;width:240px;height:200px;overflow: hidden;}
#wrrapper-boutique ul li a img{float:left;display:block;}
#wrrapper-boutique ul li a img:hover {box-shadow:0px 0px 10px #acacac;transform: scale(1.1);}

/************页脚***********/
